# Visual Studio
.vs/
*.suo
*.user
*.userprefs
*.sln.docstates

# Build sonuçları
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
packages/
*.snupkg

# Proje dosyaları
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pdb
*.mdb
*.mssqllocaldb

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# Diğer
*.tmp
*.temp
*.bak
*.swp
